* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

.guides-container {
    background-image: url(images/background2.jpg);
    padding: 50px;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.first-item h3 {
    font-family: 'Permanent Marker', sans-serif;
    color: black;
    text-align: left;
}

.first-item p {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: left;
}

.first-item {
    background-color: whitesmoke;
    opacity: .9;
    display: block;
    margin-bottom: 10px;
    padding: 20px 20px 0 20px;
    align-items: left;
}


.tour-guide {
    background-color: whitesmoke;
    opacity: .9;
    display: flex;
    margin-bottom: 10px;
}

.tour-guide p {
    color: black;
    text-align: left;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.tour-guide em {
    font-size: 1rem;
}

.tour-guide h3 {
    color: black;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    padding-left: 20px;
}

.tour-guide img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
}

.tour-guide {
    align-items: center;
}

.last-image {
    justify-content: flex-end;
}