* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    
}

.guides-container {
    background-image: url(images/phototoursbackground.jpg);
    padding: 50px;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.tour-guide img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.itinerary a {
    border-bottom: 1px solid black;
}

.itineray a:hover {
    opacity: 0.6;
}